{% extends "base.html" %}


{% block content %}
		
		<!-- MAIN CONTENT
		================================================== -->		
		<div class="span9">		

			<!-- ABOUT SECTION
            ================================================== -->
			<section id="about">
			<div class="hero-unittext">
				<h2>{{ title }}</h2>
			</div>
			<div class="row-fluid">
				<div class="span8">
					<h1>{{ title }}</h1>
					<p>{{ description }}</p>
					<p>{{ description1 }}</p>
					<p>{{ description2 }}</p>
				</div>
			</div>
			<br/>
			</section>
		</div>

	</div><!--/.span9-->



{% endblock %}