{% extends "base.html" %}


{% block content %}
		
		<!-- MAIN CONTENT
		================================================== -->		
		<div class="span9">		


			<div class="row-fluid">

				<div class="tour-content">
				<!-- TOUR CONTENT
	            ================================================== -->

					<div class="span8">
						<div class="main-tour tour">
							<div class="content">
							<!-- MAIN TOUR CONTENT
				            ================================================== -->			            
								<h1>{{ title }}</h1>
								<div id="main-img">
									<a href="#" class="thumbnail" data-fancybox-group="group1"><img alt="" src="{{ STATIC_URL }}/img/tours/{{ this_tour.tour_num }}/{{ this_tour.main_image }}"></a>
								</div>
								<div id="thumbs">
									{% for img_row in this_tour.image_rows %}
									<div class="row-fluid">
										<ul class="thumbnails small">
										{% for img in img_row %}
										<li class="span3">
											<a href="#" class="thumbnail"><img class="img-polaroid grayscale" src="{{ STATIC_URL }}/img/tours/{{ this_tour.tour_num }}/{{img}}"></a>
										</li>
										{% endfor %}
										</ul>
									</div>
									{% endfor %}
								</div> <!-- thumbs -->
								<br/>
								<div id="descriptions">
									{% for p in description %}
									<p>{{ p }}</p>
									{% endfor %}
								</div>
							</div>
						</div><!--/.main-tour tour-->

					</div> <!--/.span8-->


					<div class="span4">
						<div class="related-tour tour sticky">
						<!-- RELATED CONTENT
			            ================================================== -->
				            <h3 class="title nm">Related Tours</h3>
				            <div class="accordion-group">
								<div id="collapseOne" class="accordion-body collapse in">
									<div class="accordion-inner">
										<ul class="nav nav-list">
										{% for row in rows %}
											{% for tour in row %}
												{% if not tour.title == this_tour.title %}
												<li><a href="{{ ROOT_URL }}/{{ tour.path }}">{{ tour.title |truncatechars:52}}</a></li>
												{% endif %}
											{% endfor %}
										{% endfor %}
										</ul>
									</div>
								</div>
							</div><!--/.accordion-group-->
						</div><!--/.related-tour-->
					</div><!--/.span4-->

				</div><!--/.tour-content-->

			</div><!--/.row-fluid-->
			<br/>
		</div> <!--/.span9-->







{% endblock %}