{% extends "base.html" %}


{% block content %}
		
		<!-- MAIN CONTENT
		================================================== -->		
		<div class="span9">		


			<div class="row-fluid">

				<div class="tour-content">
				<!-- TOUR CONTENT
	            ================================================== -->

					<div class="span8">
						<div class="main-tour tour">
							<div class="content">
							<!-- MAIN TOUR CONTENT
				            ================================================== -->			            
								<h1>{{ title }}</h1>

								<div id="main-img">
									<a href="#" class="thumbnail" data-fancybox-group="group1"><img alt="" src="{{ STATIC_URL }}/img/tours/{{ this_tour.tour_num }}/{{ this_tour.main_image }}"></a>
								</div>
								<div id="thumbs">
									<ul class="thumbnails small">
									{% for img in this_tour.images %}
									<li>
										<a href="#" class="thumbnail" data-fancybox-group="group1"><img src="{{ STATIC_URL }}/img/tours/{{ this_tour.tour_num }}/{{img}}"></a>
									</li>
									{% endfor %}
									</ul>
								</div>
								<p>{{ description }}</p>
								<p>{{ description1 }}</p>
								<p>{{ description2 }}</p>
							</div>
						</div><!--/.main-tour tour-->

					</div> <!--/.span8-->


					<div class="span4">
						<div class="related-tour tour">
						<!-- RELATED CONTENT
			            ================================================== -->
				            <h3 class="title nm">Related Tours</h3>
				            <div class="accordion-group">
								<div id="collapseOne" class="accordion-body collapse in">
									<div class="accordion-inner">
										<ul class="nav nav-list">
											<li><a href="listings.html">» Auto</a><span>(35)</span></li>
											<li><a href="listings.html">» Beauty and Fitness</a><span>(4419)</span></li>
											<li><a href="listings.html">» Entertainment</a><span>(13082)</span></li>
											<li><a href="listings.html">» Food and Dining</a><span>(4998)</span></li>
											<li><a href="listings.html">» Gifts and Flowers</a><span>(8106)</span></li>
											<li><a href="listings.html">» Health</a><span>(24)</span></li>
											<li><a href="listings.html">» Lawyer</a><span>(5)</span></li>
											<li><a href="listings.html">» Real Estate</a><span>(1)</span></li>
											<li><a href="listings.html">» Sports</a><span>(2022)</span></li>
											<li><a href="listings.html">» Travel</a><span>(3204)</span></li>
										</ul>
									</div>
								</div>
							</div><!--/.accordion-group-->
						</div><!--/.related-tour-->
					</div><!--/.span4-->

				</div><!--/.tour-content-->

			</div><!--/.row-fluid-->
			<br/>
		</div> <!--/.span9-->







{% endblock %}